{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
    <h3 align="center">Notes</h3>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
            <li class='list-group-item'>
                {{ note.date }} -
                {{ note.data }}
                
                <button type="button" class="close" onclick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </ul>
    <br />
    <form method="POST">
        <textarea id="note" name="note" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button> 
        </div>
    </form>

{% endblock %}